*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: #D8D8D8;
}
.food-cards{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap: 40px;
}
.card{
    width: 360px;
    border-radius: 16px;
    background-color: ghostwhite;
}
.card > img{
    display: block;
}
.pizza{
    margin-bottom: 32px;
}
.card-body{
    padding: 0px 24px;
}
.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
h2{
    font-weight: 400;
    font-size: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.vectors{
    display: flex;
    gap: 9px;
}
.fire{
    width: 24px;
    height: 24px;
    background: #F8593B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wheat{
    width: 24px;
    height: 24px;
    background: #F8593B;
    border-radius: 50%;
    background: #FFC22B;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc{
    font-size: 16px;
    color: #6E798C;
    margin-bottom: 24px;
}
.info{
    display: flex;
    justify-content: space-between;
    color: #A5ADBB;
    margin-bottom: 33px;
}
.ordering{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.prices{
    display: flex;
    gap: 8px;
    align-items: center;
}
.new{
    font-weight: 400;
    font-size: 28px;
}
.old{
    font-weight: 400;
    font-size: 20px;
    text-decoration-line: line-through;
    color: #F8593B;
}
button{
    background: #2ECC71;
    border-radius: 4px;
    width: 114px;
    height: 44px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 700;
    letter-spacing: 0.18em;
    font-size: 14px;
}